WIFI_SSID=your_wifi_ssid
WIFI_PASS=your_wifi_password
OTEL_COLLECTOR_HOST=192.168.1.100
OTEL_COLLECTOR_PORT=4318
OTEL_SERVICE_NAME=msc-device
OTEL_SERVICE_NAMESPACE=robotics
OTEL_SERVICE_VERSION=0.1.0
OTEL_SERVICE_INSTANCE=device-1
OTEL_DEPLOY_ENV=dev
